.removeButton{
    cursor: pointer;
    color: red;
    float: right;
    padding-top: 17px;
}
.list{
    margin: 50px 25%;
}
.list li{
    padding: 15px 0 30px;
    list-style-type: none;
    border-bottom: 1px solid #e6e6e6;
}
.list li:last-child{
    border-bottom: none;
}
.listAvatar{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    float: left;
}
.name{
    padding-top: 17px;
    padding-left: 20px;
    display: inline-block;
}
/**********************************/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}
  
.modal-main {
    position:fixed;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
  
.display-block {
    display: block;
}
  
.display-none {
    display: none;
}

.closeModal{
    position: relative;
    top: 25px;
    right: -95%;
    color: #ff8888;
    font-size:2rem;
    cursor: pointer;
}

  /******************************************************/
  #user-profile {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
    overflow: hidden;
    box-shadow: 2px 2px 5px #000;
    border: 1px solid #000;
    background-color: #c9d5ff;
    background-size: 60px 60px;
    background-position: 0 0, 30px 30px;
  }
  #user-profile hr {
    margin: 20px auto;
    width: 50px;
    border: 1px solid #6b0a3a;
    background-color: transparent;
  }
  #user-profile h1, #user-profile h2, #user-profile h3, #user-profile h4, #user-profile h5, #user-profile h6, #user-profile p {
    margin: 0;
  }
  #user-profile h2 {
    font-size: 30px;
  }
  #user-profile h3 {
    font-size: 18px;
  }
  #user-profile h4 {
    font-size: 16px;
  }
  #user-profile p {
    font-size: 14px;
  }
  #user-profile .top, #user-profile .bottom {
    padding: 30px;
  }
  #user-profile .bottom {
    background-color: rgba(255, 255, 255, 0.3);
    text-align: left;
  }
  #user-profile .avatar {
    border-radius: 50%;
    overflow: hidden;
    display: inline-flex;
    margin-bottom: 15px;
    border: 1px solid #000;
  }
  #user-profile .avatar img {
    width: 100%;
  }